html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(20, 20, 20);
}

h1 {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
}

.video1 {
  width: 75%;
  float: right;
  margin: 1em 5em 2em 0em;
}

p {
  font-family: "Luckiest Guy", cursive;
  color: white;
  float: left;
  margin: 1em 0 0 0;
}

img {
  width: 95%;
  padding-left: 2.5%;
  padding-bottom: 2em;
}

div {
  padding: 0 3em 1em 3em;
}

div div {
  display: flex;
  padding: 0;
}

div div img {
  width: 50em;
  padding-top: 2em;
  display: inline;
  float: right;
}
